<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Read Page</h1>

        <form action="/guestbook/delete" method="post" id="deleteForm">
        
            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
            
            <div class="form-group">
                <label>Gno</label>
                <input type="text" class="form-control" name="gno" th:value="${guestbookDTO.gno}" readonly>
            </div>

        </form>

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" th:value="${guestbookDTO.title}" readonly>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content" rows="5" readonly>[[${guestbookDTO.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${guestbookDTO.writer}" readonly>
        </div>

        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(guestbookDTO.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(guestbookDTO.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <br>

        <a th:href="@{/guestbook/list(page=${pageRequestDTO.page})}" style="text-decoration: none;">
            <button type="button" class="btn btn-info">List</button>
        </a>

        <a th:href="@{/guestbook/update(gno = ${guestbookDTO.gno}, page=${pageRequestDTO.page})}" style="text-decoration: none;">
            <button type="button" class="btn btn-primary">Update</button>
        </a>

        <button type="button" class="btn btn-danger" id="removeBtn">Remove</button>

        <script th:inline="javascript">

            const form = document.getElementById("deleteForm");
            const removeBtn = document.getElementById("removeBtn");
            

            removeBtn.addEventListener("click", () => {

                if(!confirm("삭제하시겠습니까?")) {
                    return ;
                }

                form.setAttribute("action", "/guestbook/remove");
                form.setAttribute("method", "post");
                form.submit();
            })

        </script>

    </th:block>

</th:block>